/* 
yellow: #FCF55F
*/

.titlehome {
    font-size: 50px;
    margin-left: 30px;
    margin-top: 100px;
}

.parentdiv1 {
    display: flex;
    justify-content: space-around;
    height: 600px;
    width: 800px;
    margin-top: 20px;
    background-image: url("./image2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     position: relative;
     margin-left: 50px;
     border-radius: 5px;
     padding: 25px 50px;
}
.imagediv1 {
    position: absolute;
    height: 600px;
    left: 600px;
    bottom: 1px;
}

.titletexthome {
    display: block;
    font-size: 30px;
    text-align: justify;
    margin: 20px;
    font-family: Harrington;
    width: 450px;
}

.btnhm1 {
    height: 60px;
    width: 150px;
    border: none;
    margin: 50px 50px;
    background-color: black;
    font-size: 18px;
    color: white;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    right: 20px;
    border-radius: 10px;
}

body {
    margin: 0px;
    background-color: black;
}

.titlehome2 {
    text-align: center;
    font-size: 50px;
}

.parentdiv2 {
    display: flex;
    flex-direction: column;
    background-color: #E1AD01;
    height: 600px;
    position: relative;
    text-align: center;
    margin-top: 20px;
    width: 800px;
    margin-left: 600px;
}

.imagediv2 {
    position: absolute;
    height: 100px;
    top: 10px;
    right: 10px;
}

.imagetemp {
    height: 300px;
}

.insidetemp {
    position: absolute;
    left: -450px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 400px;
    color: white;
    margin: 10px auto;
    padding: 40px;
}
.btnhm2{
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 60px;
    width: 150px;
    border: none;
    background-color: black;
    border-radius: 2px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.parentdiv3 {
    display: flex;
    position: relative;
    justify-content: space-around;
    background-image: url("./image5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-top: 20px;
}
.creatediv{
    font-size: 60px;
    margin: 200px 30px;
    color: black;
}
.orderedtext{
    font-size: 30px;
    color: black;
    font-family: Harrington;
    margin-top: 200px;
}
.link{
    font-size: 40px;
}
.startdiv{
    background-image: url(./image6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 600px;  
}

.titlediv{
font-size: 50px;
}
.parent2text{
    text-align: justify;
    font-size: 30px;
    width: 500px;
    margin: 1px auto;
    font-family: Harrington;
}

@media screen and (min-width:400px) and (max-width:700px) {

    .startdiv{
        height: 400px; 
        width: vw; 
    }
.titlediv{
    font-size: 35px;
}
.btnhm1 {
    height: 40px;
    width: 100px; 
    margin: 50px 50px; 
    font-size: 15px;
    border-radius: 5px;
}
.parentdiv1{
    height: 400px;
    width: 420px;
    margin: 20px auto;
    padding: 2px 5px;
} 
.titletexthome {
    
    font-size: 20px;
    margin: 10px;
    width: 380px;
}
.titlehome {
    font-size: 30px;
    margin: 10px auto;
    font-family: Harrington;
}
.imagediv1 {
    height: 200px;
    left: 158px;
    bottom: 0px;
    box-shadow: 2px 0px 2px 1px darkgoldenrod;
}
.parentdiv3 {
    height: 400px;
    width: 420px;
    margin: 20px auto;
    padding: 2px 5px;
}
.creatediv{
    font-size: 30px;
    margin: auto 10px;
}
.orderedtext{
    font-size: 20px;
    color: black;
    font-family: Harrington;
    margin-top: 50px;
}
.btnhm2{
   
    height: 30px;
    width: 100px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}
.parentdiv2 {
    height: 400px;
    width: 420px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: 20px;
    margin-block-end: 300px;
    padding: 2px 5px;
}
.titlehome2 {
    font-size: 30px;
    font-weight: bold;
}
.parent2text{
    font-size: 20px;
    width: 400px;
    margin: 10px auto;
}
.imagediv2 {
    position: absolute;
    height: 60px;
    top: 10px;
    right: 10px;
}
.insidetemp {
    left: 0px;
    width: 250px;
    margin: 1px auto;
    padding: 5px;
    font-size: 15px;
    bottom: -300px;
}
.imagetemp {
    height: 200px;
}

}


