.aparentdiv1{
    display: flex;
    justify-content: space-around;
    height: 600px;
    width: 700px;
    margin-top: 20px;
    background-color: darkgoldenrod;
     position: relative;
     margin-left: 50px;
     border-radius: 5px;  
}
.aimagediv1 {
    position: absolute;
    height: 400px;
    left: 600px;
    top: 100px;
    box-shadow: 2px 0px 2px 1px darkgoldenrod;
}
.atitlehome {
    font-size: 50px;
    margin-left: 30px;
    margin-top: 10px;
    font-family: Harrington;
}
.atitletexthome {
    display: block;
    font-size: 30px;
    text-align: justify;
    margin: 20px;
    width: 450px;
}
.aboutimg{
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px yellow;
}
.textabout{
    font-size: 18px;
    color: white;
    margin-left: 0px;
    text-align: justify;
    width: 310px;  
    margin-top: 0px; 
}
.parentteam{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    margin-left: 10px;
    margin-top: 40px
}
.logo1{
    height: 30px;
}
.name{
    text-align: center;
    font-size: 20px;
    color:antiquewhite;
}
.aboutdiv{
    display: flex;
    color: antiquewhite;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;

}
.abouthead{
    color: antiquewhite;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

@media screen and (min-width:400px) and (max-width:700px) {
    .aparentdiv1{
        height: 400px;
        width: 400px;
        margin: 20px auto;
        background-color: darkgoldenrod; 

    } 
    .atitletexthome {
        
        font-size: 20px;
        margin: 10px;
        width: 380px;
    }
    .atitlehome {
        font-size: 30px;
        margin: px auto;
        font-family: Harrington;
    }
    .aimagediv1 {
        
        height: 200px;
        left: 50px;
        top: 350px;
        box-shadow: 2px 0px 2px 1px darkgoldenrod;
    }
    .abouthead{
        
        margin-top:200px;
        font-size: 30px;
    }
}