.navbar{
    background-color: black;
    padding: 5px;
    width: 100%;    
    }

.navbar-title{
    display: inline-block;
    color: whitesmoke;
    margin-right: 100px;
    font-size: large;
}
.navbar_component{
    display: inline-block;
    margin: 0px 10px;
    color: whitesmoke;
}
.icon{
    width: 50px;
    background-color: white;

}
.navbar_container{
    margin-top: 5px;
}

.brand_container{
    display: flex;
    width: 200px;
}

.menu_container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 200px;
}
.login_container{
    display: flex;
    width: 200px;
}
.login{
    margin-right: 0px;
}