.navbar{
    background-color: black;
    padding: 5px;
    width: 100%;    
    }

.navbar-title{
    display: inline-block;
    color: whitesmoke;
    margin-right: 100px;
    font-size: large;
}
.navbar_component{
    display: inline-block;
    margin: 10px 25px;
    color: whitesmoke;
    text-decoration: none;
    height: 25px;
    width: 75px;
    text-align: center;
}
.icon{
    width: 50px;
    background-color: white;

}
.navbar_container{
    margin-top: 5px;
}

.brand_container{
    display: flex;
    width: 200px;
}

.menu_container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 200px;
}
.login_container{
    display: flex;
    width: 200px;
}
.login{
    margin-right: 0px;
}
.sign{
    position: absolute;
    right: 10px;
}
.navbar_component:hover{
    background-color: darkgoldenrod;
    color: black;
}