.footer{
    background-color: black;
    color: white;
    padding: 3px;
}
.footer_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80vw;
}
.website_info{
    margin: 5px 20px 5px 5px;
}
.name{
    font-size: 30px;
}
.logo{
    height: 50px;
    margin-right:5px;
    padding: 2px;
    border-radius: 3px;
}
.Help_container{
    
    width: 300px;
    margin-bottom: 10px;
   
}

.footer_component{
    font-size: 15px;
    display: block;
    margin-left: 5px;
}

.help_title{
    display: block;
    width: 30px;
    font-size: 30px;

}
.info_container{
    display: flex;
    width:300px;
    margin-bottom: 10px;
    margin-right: 0px;
    flex-wrap: wrap;
}
.social_logo{
    width: 30px;
    display: block;
    margin-right: 10px;
}

.info_title{
    font-size: 30px;
    display: block;
}
.social_logo_container{
    display: flex;
    margin-bottom: 10px;
}
.copyright{
    display: block;
    width: 300px;
    margin: 5px auto;
}

.footer_component:hover{
    background-color: darkgoldenrod;
    color: black;
}
.social_logo_container:hover{
    background-color: darkgoldenrod;
    color: black;
}