.body_bg {
    background-image: url(./body_bg.jpg);
    background-size: cover;
}

.layout_padding {
    padding: 75px 0;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading_container{
    display: flex;
}

.contact_section .heading_container {
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 45px;
}

.h2 {
    font-size: 2rem;
}

.heading_container h2 {
    font-weight: 700;
    color: #050000;
    padding: 3px 10px;
    border-bottom: 1px solid #000;
}